{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freelancer Platform</title>
    <link rel="stylesheet" href="{%static 'home/style.css' %}">

</head>
<body>
    <header>
        <div class="logo">Freelancer Connect</div>
        <nav>
            <ul>
                <li><a href="home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/login/">login</a></li>
                <li> <a href="businesses/">business</a></li>
                {%if user_name != "Null" %}
                    <li> <a href="{% url 'profile' user_name %}"> profile </a> </li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <section class="hero" id="home">
        <h1>Welcome to Freelancer <p>Connect</p> </h1>
        <p>Connecting Freelancers and Businesses with Ease</p>
        <button>Get Started</button>
    </section>

    <section class="features" id="services">
        <h2>Our Features</h2>
        <div class="feature-item">✔ Easy Project Posting</div>
        <div class="feature-item">✔ Diverse Freelancer Pool</div>
        <div class="feature-item">✔ Secure Payments</div>
    </section>

    <footer>
        <p>© 2024 Freelancer Connect. All rights reserved.</p>
    </footer>
</body>
</html>
